{% extends 'base.html.twig' %}
{% block title %} Liste des clients {% endblock %}
{% block body %}
    <section class="clientList">
        <h1 class="titleH1">Liste des clients</h1>
        <div class="clientContainer">
            <form action="{{ path('addClient') }}" class="addClient">
                <button class="button">Ajouter un client</button>
            </form>
            {% for client in clients %}
                <div class="clientCard" id="clientCard{{ client.id }}">
                    <div class="img">
                    {% if client.img is not null %}
                        <img src="{{ asset('upload_directory/' ~ client.img.name) }}" alt="client Img">
                    {% endif %}
                    </div>
                    <h3>Nom : {{ client.name }}</h3>
                    <span>Age : {{ ages[client.id] }}</span>
                    {% if client.mail is not null %}
                        <span>Mail : {{ client.mail }}</span>
                    {% endif %}
                    <span>Adresse : {{ client.adress }}</span>
                    <span>Téléphone : {{ phone[client.id] }}</span>
                    <div class="options">
                        <button class="button"><a href="{{ path('editClient',{'id' : client.id}) }}"><div class="edit">Modifier</div></a></button>
                        <button class="button actionsButton" data-id="{{ client.id }}" data-name="{{ client.name }}">Supprimer</button>
                    </div>
                </div>
            {% endfor %}
            <div id="clientPopupContainer" class="clientPopup">
                <div class="clientPopup">
                    <span id="clientMessage"></span>
                    <div class="actions">
                        <button class="button" id="definitiveDelete">Supprimer définitivement</button>
                        <button class="button" id="archive">Archiver</button>
                    </div>
                    <button class="button" id="closePopup">Retour</button>
                </div>
            </div>
        </div>
    </section>
    <script src="{{ asset('assets/js/client.js') }}" defer></script>
{% endblock %}