{% extends 'base.html.twig' %}
{% block title %} Modifier un client {% endblock %}
{% block body %}
    <section>
        <div class="formClient">
            <h1>Modifier le client</h1>
                {{ form_start(clientForm) }}
                {{ form_row(clientForm.Name) }}
                {{ form_row(clientForm.age) }}
                {{ form_row(clientForm.mail) }}
                {{ form_row(clientForm.adress) }}
                {{ form_row(clientForm.tel) }}
                {{ form_row(clientForm.img) }}
                {{ form_widget(clientForm.Envoyer) }}
                {{ form_end(clientForm) }}
            {% if currentImg is not null %}
                <div class="img">
                    <h2>Image actuelle</h2>
                    <img src="{{ asset('upload_directory/' ~  currentImg.name) }}" alt="" width="250px">
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
