<footer>
	<div class="footerContainer">
		<div class="footerTitle"><h3>Les services d'Émilie</h3></div>
		<div class="footerNav">
			<ul>
				<li><a href="{{ path('home') }}">Accueil</a></li>
				<li><a href="#activities">Mes activités</a></li>
				<li><a href="#contact">Me contacter</a></li>
				<li><a href="{{ path('app_login') }}">Connexion</a></li>
			</ul>
		</div>
		<div class="footerContact">
			<div class="facebook">
				<a href="https://www.facebook.com/gayonemilie/" target="_blank">
					<img src="{{ asset('assets/img/facebook.png') }}" alt="Facebook logo by Hight Quality Icons">
				</a>
			</div>
			<div class="instagram">
				<a href="https://www.instagram.com/lesservicesdemilie/" target="_blank">
					<img src="{{ asset('assets/img/instagram.png') }}" alt="Facebook logo by Hight Quality Icons">
				</a>
			</div>
			<div class="phone">
				<img src="{{ asset('assets/img/telephone.png') }}" alt="">
				<span> 06 80 62 81 81 </span>

			</div>
			<div class="mail">
				<img src="{{ asset('assets/img/email.png') }}" alt="">
				<span> gayonemilie8@gmail.com </span>
			</div>
		</div>
		<div class="copyright">Tous droits réserver Frank FLEURT©</div>

	</div>
</footer>