{% extends 'base.html.twig' %}
{% block title %} Enregistrement {% endblock %}
{% block page %} class="enregistrement" {% endblock %}
{% block class %} class="home" {% endblock %}

{% block body %}
    <section>

        <h2 class="register">S'enregistrer</h2>
        {{ form_start(userForm) }}
            {{ form_widget(userForm.email) }}
            {{ form_label(userForm.password.first) }}
            {{ form_widget(userForm.password.first) }}
            {{ form_label(userForm.password.second) }}
            {{ form_widget(userForm.password.second) }}
        {{ form_end(userForm) }}
        {% if error != '' %}
            <div class="alert alert-danger error">Email invalid ou deja utilise</div>*
        {% elseif form_errors(userForm.password.first) %}
            <div class="alert alert-danger error">Mot de passe non correspondant</div>
        {% endif %}
        <div class="actions">
            <form action="{{ path('home') }}" class="formReturn">
                <button class="return button">Retour a l'acceuil</button>
            </form>
            <form action="{{ path('app_login') }}" class="formLogin">
                <button class="return button">Déjà membre ?</button>
            </form>
        </div>
    </section>

{% endblock %}
